* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(46deg, #00b7f9, #ff0000);
  background-size: 400% 400%;

  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 86%;
  }
  50% {
    background-position: 100% 15%;
  }
  100% {
    background-position: 0% 86%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
